@value alt-gradient from './../libs/colors.css';
@value shadow-primary from './../libs/effects.css';

.popup {
  border-radius: 10px;
  background: alt-gradient;
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 9999;
  box-shadow: shadow-primary;
}

.inner {
  padding: 15px;
}
