.section-wrapper {
  padding: 40px 0;
  position: relative;
}

.news-obj {
  padding-right: 40px;
}

.bottom-line {
  display: flex;
  margin-top: 8px;

  .data {
    margin-right: 20px;
  }

  .views span {
    margin-right: 4px;
  }
}

.next-arrow-wrapper, .prev-arrow-wrapper {
  position: absolute;
  top: 25px;
}

.next-arrow-wrapper {
  right: -40px;
}

.prev-arrow-wrapper {
  left: -40px;
}
